<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{{ url_for('static',filename='main.css') }}">
    <h1 style="font-family:'Courier New', Courier, monospace; font-variant: small-caps; text-align: center; font-size: 60px;">To-Do List</h1>
    <hr>
    {% block head %}  {% endblock %}
</head>
<body style="text-align: center;">
    {% block body %}  {% endblock %}
</body>
</html>
